/*タブレット*/
@media(max-width:1000px){
    .container-mv{
        display: flex;
        align-items: center;
        width:100%;
        max-width: 1000px;
        padding: 0 110px;
    }
    header{
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        position :fixed;   
        top: 0;
        z-index: 10;
    }
    .big-logo{
        position:absolute;
        width:245px;
        height:302px;
        top:183px;
        left:630px;
    }
    .contents-posts{
        justify-content: center; 
        display:flex;
        flex-wrap: wrap;
        max-width:640px;
        margin: 0 auto;
    }
    .content-post{
        flex:auto;
        width:50%;
        font-size: 14px;
        text-align: center;
        padding-bottom:50px;
    }
    .details-contents{
        display: flex;
        flex:auto;
        flex-direction: column;
        justify-content: center;
        margin-top:50px;
        align-items: center;
    }
    
    .details-contents-image{
        width:100%;
        margin-bottom:50px;
        border-radius: 30px;
    }
    
    .details-contents h1{
        width:100%;
        font-size: 24px;
        line-height: 24px;
        color:#322C2B;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .details-contents p{
        width:100%;
        font-size: 14px;
        line-height: 28px;
        color: #322C2B;
        margin-bottom: 50px;
    }
    
    .proposal-wrapper{
        width:100%;
        margin:0 auto;
    }
    .hobbies-wrapper{
        width:100%;
        padding:100px 50px;
        background-color: #fff;
    }
}

@media(max-width:670px){
    header{
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position :fixed;   
        top: 0;
        z-index: 10;
    }
    .menu{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .top-wrapper{
        width:100%;
        height:680px;
        background-image: url(../images/common/mv-image.jpg);
        background-size: cover;
    }
    .container-mv{
        display: flex;
        align-items: center;
        width:100%;
        height:100%;
        justify-content: center;
        padding: 0 50px;
    }
    .big-logo{
        width:245px;
        position:static;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        padding: 100px 50px;
    }
    .btn-wrapper{
        flex-direction: column;
        width:100%;
    }
    .sns-btn{
        width:100%;
        background-color: #DA9D9A;
        border-radius: 30px;
        padding: 8px 15px;
        color: #fff;
        font-size:30px;
        text-align: center;
    }
    .fa-instagram{
        margin-right:20px; 
    }
    .sns-btn{
        margin-bottom:20px; 
    }
   .fa-facebook-square{
        margin-right:20px; 
    }
    .sub-catch{
        margin-top:25px; 
        margin-bottom:25px; 
        text-align: center;
        font-size: 20px;
        color:#322C2B;
        line-height: 40px;
    }
    .title-about{
        width:150px;
        margin-bottom:50px;
    }
    .hobbies-wrapper-index{
        width:100%;
        padding:100px 50px;
        background-color: #F2EFEF;
    }
    .column-wrapper{
        width:100%;
        padding:100px 50px;
        background-color: #fff;
    }
    .contents-posts{
        flex-direction: column;
        max-width:570px;
        margin: 0 auto;
    }
    .content-post{
        flex:auto;
        width:100%;
        font-size: 20px;
        text-align: center;
        padding-bottom:50px;
    }
    
    .post-icon-image{
        width:100%;
        border-radius: 30px;
    }
    .more-btn{
        padding: 10px 20px;
        background-color: #FFFFFF;
        border: 5px solid #F5EDED;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        text-align: center;
        width:100%;
        font-size:30px;
    }
    .details-contents{
        display: flex;
        flex:auto;
        flex-direction: column;
        justify-content: center;
        margin-top:50px;
        align-items: center;
    }
    
    .details-contents-image{
        width:100%;
        margin-bottom:50px;
        border-radius: 30px;
    }
    
    .details-contents h1{
        width:100%;
        font-size: 24px;
        line-height: 24px;
        color:#322C2B;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .details-contents p{
        width:100%;
        font-size: 20px;
        line-height: 40px;
        color: #322C2B;
        margin-bottom: 50px;
    }
    
    .proposal-wrapper{
        width:100%;
        margin:0 auto;
    }
    .hobbies-wrapper{
        width:100%;
        padding:100px 30px;
        background-color: #fff;
    }
   
}
